.delivery-calculator {
  background-color: #DDDDDD;
  padding: 1rem;
  margin: 2rem auto;
  width: 28rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.delivery-calculator h1 {
  margin-top: 0px;
}

.delivery-calculator__control {
  display: flex;
  align-items: center;
}

.delivery-calculator__label {
  width: 100px;
  text-align: start;
}

.delivery-calculator__input {
  margin-right: 12px;
}
