.delivery-calculator {
  background-color: #DDDDDD;
  padding: 1rem;
  margin: 2rem auto;
  width: 28rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.delivery-calculator__controls {
  margin-bottom: 1rem;
  text-align: left;
}

.delivery-calculator__control {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.delivery-calculator label {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  display: block;
}

.delivery-calculator input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 13rem;
  max-width: 100%;
  font-size: 1rem;
}

.delivery-calculator p {
  font-size: 1.25rem;
  padding-left: 8px;
  font-weight: bold;
}

.delivery-calculator__action {
  color: white;
  margin-top: 2rem;
  border-radius: 1.25rem;
  background: #B7B78A;
  transition: background 0.3s ease;
  font-weight: bold;
  border-radius: 1.25rem;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}
